* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
   
}

body{
  background-color: #dcedf0;
}


body,
input,
button {
  font-size: 16px;
  font-family: "Roboto", sans-serif;

  --webkit-font-smoothing: antialiased;
}